body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}


footer {
  position: fixed;
  height: 50px;
  background-color: rgb(168, 158, 158);
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  font-style: italic;
  text-align: center;
}

.textoSobre {
  text-align: center;
  font-size: 20px;
}

.tabelaCar, th, td{
	border: 1px solid;
  border-color: #bebebe;
}

.tabelaCar th{
  border: 2px solid;
  border-color: #bebebe;
}

.tabelaCar{
  margin: 0 auto;
  width: 100%;
  border-collapse: collapse;
}

h1{
  text-align: center;
}

h2 {
  color: rgb(41, 102, 194);
  font-weight: bold;
  text-align: center;
}

#menu

ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
  list-style-type: none;
 
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

div input{
  display: block;
  margin: 0 auto;
  padding: 10px;
}

label{
  text-align: center;
  display: block;
}

p{
  text-align: center;
}

/*.labelTi{
  text-align: left;
  margin-left: 40px;
}*/

.containerPerfil{
text-align: center;
font-size: 20px;
}

.reqTabelaBr{
 text-align: center;

}

.reqTabelaBr > button{
  margin-bottom: 10px;
}

.addCon{
text-align: center;
}

input {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0 8px 40px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

#sendButton{
  text-align: center;
  display: block;
  background-color: rgb(122, 245, 66);
  color: white;
  padding: 10px;
  margin-top: 10px;
  margin-left: 40%;
  margin-right: 40%;
  cursor: pointer;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

